extends ../layout/layout-contact
block content
    .uk-container.uk-padding-large
        div(uk-grid)
            div
            if success
                h1 Success! Your message has been sent.
                p Thank you for taking this important step. We look forward to speaking with you soon.
            else
                h1 We would love to hear from you.
                p Let's get started as soon as possible. Fill out the form below with the best time to reach you, and we will get back to you as soon as possible.
        div(uk-grid)
            if !success
                div(class="uk-width-2-3@m")
                    div(class="")
                        h2 Send Us Your Message
                        div(class="uk-width-1-1")
                            form(action="/contact/send" method="POST")
                                div(class="uk-child-width-1-2@m" uk-grid)
                                    div
                                        p
                                            label.uk-form-label Name
                                            input(class="uk-input" type="text" name="name" placeholder="Enter Your Full Name")
                                    div
                                        p
                                            label Email Address
                                            input(class="uk-input" type="email" name="email" placeholder="Enter Your Best Email Address")
                                div(class="uk-child-width-1-2@m" uk-grid)    
                                    div
                                        p
                                            label Phone Number
                                            input(class="uk-input" type="tel" name="phone" placeholder="Area Code + Phone Number")
                                    div
                                        p
                                            label What is the Best Time to Reach You?
                                            input(class="uk-input" type="text" name="time" placeholder="Enter Time and Days")
                                div(class="uk-child-width-1-1" uk-grid)    
                                    div
                                        p
                                            label.uk-form-label Message
                                            div.uk-form-controls
                                                textarea(class="uk-textarea" rows="5" type="tel" name="message" placeholder="Enter your message here.")
                                div(class="uk-child-width-1-1" uk-grid)    
                                    div
                                        button(class="uk-button uk-button-primary" type="submit") Send Message
            div(class="uk-width-1-3@m uk-text-center")
                h2 How to Get to Us
                p Call Us: 856-375-2440
                p.uk-text-justify If we can't answer your call, please leave us a message. Someone will return your call as soon as possible.
                h3 Directions To Our Locations
                ul.uk-list.uk-list-large
                    li
                        a.uk-button.uk-button-primary.uk-button-small(href="https://goo.gl/maps/9zLAT2be641d8hfy5") 1878 East Marlton Pike Suite 2
                    li
                        a.uk-button.uk-button-primary.uk-button-small(href="https://goo.gl/maps/B21DGiGRrNqPYxB27") 36 Kresson Road Suite D