// Top Section 100vh
#hero-section.uk-section
    #hero.uk-background-cover.uk-light.uk-flex.uk-flex-middle(uk-parallax='bgy: -100;' style="background-image: url('images/rootedbg.jpg')" uk-height-viewport)
        .uk-container.uk-text-center
            div
                h1 Rooted Psychotherapy &amp; Counseling
                h2 Quality Care You Can Count On
            div
                a.uk-button.uk-button-default(href="#" uk-toggle="target: #modal-full") Call Us Today
            .uk-margin-top
                a(href="#abouts" uk-scroll)
                    i.bounce(uk-icon="icon: chevron-down; ratio: 3" uk-parallax="opacity: 1,0; viewport: 0.7;")