extends layout/layout
block content
  .uk-container.uk-text-center.uk-padding
    h1.uk-heading-large= status
    p 
      | Oops! The page you were looking for was 
      span.uk-text-lowercase #{message}.
    a.uk-button.uk-button-primary(href="/")
      span.uk-margin-small-right(uk-icon="icon: arrow-left")
      | Go Back Home
    pre #{error.stack}
