extends ../layout/layout
block content
    .uk-container.uk-padding
        h1.uk-text-center Check Out Our Most Recent Posts
    
        if postList && postList.length
            div(class="uk-child-width-1-2@s uk-child-width-1-3@xl" uk-grid="masonry: true")
                each post in postList
                    div
                        div(class="uk-card uk-card-default uk-card-hover uk-card-large")
                            .uk-card-header
                                h3.uk-card-title.uk-margin-remove-bottom=post.title.rendered
                                - var d = new Date(post.date)
                                - const days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
                                - const months = ['January','February','March','April','May','June','July','August','September','October','November','December']
                                - const dayIndex = d.getDay()
                                - const monthIndex = d.getMonth()
                                - var dayName = days[dayIndex]
                                - var monthName = months[monthIndex]
                                - var year = d.getFullYear()
                                - var displayDate = dayName + " " + monthName + " " + year
                                p.uk-text-meta.uk-margin-remove-top
                                    time(datetime=`${post.date}`)=displayDate
                            if post._embedded['wp:featuredmedia']
                                .uk-card-media
                                    img(data-src=`` uk-img alt=``)
                        
    