doctype html
html
  head
    include includes/meta
    script(src=`https://www.google.com/recaptcha/api.js?render=${sitekey}`)
    script.
      grecaptcha.ready(function() {
        grecaptcha.execute(sitekey, {action: 'homepage'}).then(function(token) {
        });
      });

    title #{sitename} - #{page}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include includes/offcanvas
    block hero
    block navigation
      include includes/navigation
    block content
    block footer
      include includes/footer
    block modal
      include includes/modal
    include includes/scripts