doctype html
html
  head
    include includes/meta
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include includes/offcanvas
    block hero
    block navigation
    block content
    block footer
    block modal
    include includes/scripts