meta(charset='utf-8')
meta(http-equiv='x-ua-compatible' content='ie-edge')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(property="og:title" content="Rooted Psychotherapy and Counseling")
meta(property='og:description' content='Providing you with the tools you need to feel better.')
meta(property="og:image" content="https://www.rootedpsychotherapy.org/img/rooted-psychotherapy-thumbnail.jpg")
meta(property="og:url" content="https://www.rootedpsychotherapy.org/")