//-  Begin Sticky Navigation
#sticky-nav(uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: transparent-sticky-navbar; show-on-up: true;")
    .uk-container
        nav.uk-navbar-container.uk-navbar-transparent(uk-navbar style="position: relative; z-index: 980;")
            //- Begin Navbar Left
            .uk-navbar-left
                ul.uk-navbar-nav
                    li(class="uk-visible@m")
                        a.uk-navbar-item.uk-logo(href="/") Rooted Psychotherapy &amp; Counseling
                .uk-navbar-item
                    button.uk-button.uk-button-primary.uk-margin-small-right(type="button" uk-toggle="target: #modal-full") Contact Us
            //- End Navbar Left
            //- Begin Navbar Right
            .uk-navbar-right
                ul.uk-navbar-nav
                    li(class=(active=='home') ? 'uk-active uk-visible@m' : 'uk-visible@m')
                        a(href="/") Home
                    li(class=(active=='team') ? 'uk-active uk-visible@m' : 'uk-visible@m')
                        a(href="#") Our Team
                        .uk-navbar-dropdown
                            ul.uk-nav.uk-navbar-dropdown-nav
                                li
                                    a(href="/clinicians") All Clinicians
                                    each clinician in clinicianNames
                                        a(href=`/clinicians/${clinician.shortname}`)=clinician.name

                    li(class=(active=='locations') ? 'uk-active uk-visible@m' : 'uk-visible@m')
                        a(href="#") Our Office
                        .uk-navbar-dropdown
                            ul.uk-nav.uk-navbar-dropdown-nav
                                li
                                    each location in locationNames
                                        a(href=`/locations/${location.shortname}`)= location.name
                    li(class=(active=='blog') ? 'uk-active uk-visible@m' : 'uk-visible@m')
                        a(href="/blog") Blog
                        .uk-navbar-dropdown
                            ul.uk-nav.uk-navbar-dropdown-nav
                                li 
                                    a(href="/blog/category/clients") For Clients
                                //li 
                                    a(href="/blog/category/professionals") For Professionals
                    li(class="uk-hidden@m")
                        a.uk-navbar-toggle(uk-toggle="target: #offcanvas-reveal" href="#" uk-navbar-toggle-icon)
                            span Menu
