#offcanvas-reveal(uk-offcanvas="mode: reveal; overlay: true; flip: true")
    .uk-offcanvas-bar.uk-flex.uk-flex-column.uk-text-center
        button.uk-offcanvas-close.uk-close-large(type="button" uk-close="")
        ul.uk-nav.uk-nav-primary.uk-nav-center.uk-margin-auto-vertical.uk-nav-parent-icon(uk-nav="")
            li.uk-active
                a(href="/") Home
            li.uk-parent
                a(href="#") Our Team
                ul.uk-nav-sub
                    li
                        a(href="/clinicians/") All Clinicians
                    each clinician in clinicianNames
                        li
                            a(href=`/clinicians/${clinician.shortname}`)= clinician.name        
            li.uk-parent
                a(href="#") Locations
                ul.uk-nav-sub
                    li
                        a(href="#") Marlton Pike, Cherry Hill
                    li
                        a(href="#") Kresson Road, Cherry Hill
        div
            .uk-grid-small.uk-child-width-auto.uk-flex-inline(uk-grid="")
                div
                    a.uk-icon-button(href="https://www.facebook.com/rootedpsychotherapyorg/" uk-icon="icon: facebook")
                div
                    a.uk-icon-button(href="https://www.instagram.com/rootedpsychotherapy/" uk-icon="icon: instagram")
                div
                    a.uk-icon-button(href="#" uk-icon="icon: mail")
                div
                    a.uk-icon-button(href="tel:1-856-375-2440" uk-icon="icon: receiver")
